@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    overflow-x:hidden
}

p{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h6{
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    width: 175px;
}

#logo {
    width: 100%;
    top: -50%;
    position: relative;
}

#slide1caption{
    position: relative;
    top: -450px;
    font-size: 350%;
    left: 500px;
    text-align: left;
}

#slide2caption{
    position: relative;
    top: -200px;
    font-size: 500%;
}

#designheader{
    color: #89D6F3;
    background-color: #262626;    
}
      
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.carousel{
    padding-bottom: 20px;
}
    
.carousel-inner img {
    width: 100%;
    margin: auto;
    min-height:200px;
    max-height: 800px
}

#shopbut {
    position: relative;
    float: right;
    top: -70px;
}

.icon-color{
    color: #89D6F3;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: dimgray;
    color: #89D6F3;
}


[class*="entypo-"]:before {
   font-family: "entypo", sans-serif;
}
a { 
   text-decoration: none;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.container {
   margin: 0 auto;
   padding: 20px 50px;
   background: white;
}
#leftsocial {
   left: 0;
   position: fixed;
   top: 300px;
   z-index: 20;
}
#leftsocial a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: 16px "Open Sans", sans-serif;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#leftsocial a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#leftsocial a:hover span {
   left: 100%;
}
#leftsocial a[class*="facebook"],
#leftsocial a[class*="facebook"]:hover,
#leftsocial a[class*="facebook"] span { 
    background: #3b5998; 
}

#leftsocial a[class*="twitter"],
#leftsocial a[class*="twitter"]:hover,
#leftsocial a[class*="twitter"] span { 
    background: #00aced; 
}

#leftsocial a[class*="gplus"],
#leftsocial a[class*="gplus"]:hover,
#leftsocial a[class*="gplus"] span { 
    background: #dd4b39; 
}  

#leftsocial a[class*="linkedin"],
#leftsocial a[class*="linkedin"]:hover,
#leftsocial a[class*="linkedin"] span { 
    background: #007bb6; 
}  

#leftsocial a[class*="instagrem"],
#leftsocial a[class*="instagrem"]:hover,
#leftsocial a[class*="instagrem"] span { 
    background: #517fa4; 
}

.howHeader{
    position: relative;
    float: left;
    text-align: left;
}

#howheader{
    color: #89D6F3;
    font-weight: 900;
}



.interactiveinfo {
    position:relative;
    overflow:hidden;
}
.interactiveinfo figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;

}
.interactiveinfo figure img {
    display:block;
    position:relative;
    z-index:10;
}
.interactiveinfo figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.interactiveinfo figure h2 {
    color: black;
    font-size:20px;
    text-align:center
}
.interactiveinfo figure p {
    display:block;
    font-size:12px;
    line-height:18px;
    margin:0;
    color: black;
    text-align:center;
}
.interactiveinfo figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #89D6F3;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.interactiveinfo figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.interactiveinfo figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.interactiveinfo figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}


#aboutus{
    font-size: 100%;
}
 
#gototop{
    font-size: 100%;
}
 
#toptext{
    color: #5BBEDD;
}

.about {
    text-align: left;
}

.leftspecs {
    text-align: left;
}

.rightspecs {
    text-align: left;
}

.centerline{
    text-align: center;
}

.foot {
    background-color: #1f1f14;
    position: relative;
    bottom: 0;
    color: white;
}

#footertext {
    color: white;
}

#message{
    height: 300px;
    
}

.contactpage{
    text-align: left;
}

#submitbut {
    float: right;
    width: 100%;
}

.stylish-input .input-group-addon{
    background: white !important; 
}
.stylish-input .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input button{
    border:0;
    background:transparent;
}

.faqicon{
    width: 150px;
    height: 150px;
}
